button .icon-menu{ 
  margin-top:1em
}
.EZDrawer__checkbox{display: none !important}

/*zoom box*/
  @media (max-width: 820px) {
    .leaflet-top.leaflet-left{
      display: none;
    }
  }
  .leaflet-control-zoom.leaflet-bar.leaflet-control{
    position: absolute;
    bottom:  1em;
    right: 1em;
  }
  .leaflet-top.leaflet-left{
    right: 1em !important;
    bottom:  1em;
  }

.leaflet-touch .leaflet-bar a:first-child {
    border-radius: 61.8%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.leaflet-touch .leaflet-bar a:last-child {
    border-radius: 61.8%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    margin-top: 0.5em;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{border:  none}
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

.leaflet-control-geosearch .leaflet-bar-part {
  border-bottom: none;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: '';
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 15px;
  left: 13px;
  width: 6px;
  border-top: 2px solid #555;
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 8px;
  left: 8px;
  height: 8px;
  width: 8px;
  border: 2px solid #555;
}

.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  left: 50%;
  top: 50%;
  width: 16.18px;
  height: 16.18px;
  margin: -9px 0 0 -9px;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  content: '';
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
}

.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  content: '!';
  line-height: initial;
  font-weight: 600;
  /*font-size: 18px;*/
  border: none;
}

.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: 0;
  left: 36px;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding:  0 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-geosearch-button.active .leaflet-bar-part {
  width: 36px;
}

.leaflet-geosearch-button form {
  max-width: 350px;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-align: left;
  height: 26px;
  border: none;
  text-indent: 8px;
}

.leaflet-touch .leaflet-geosearch-bar form {
    box-shadow: none;
    padding: 0;
    border-radius:  61.68px;
    max-width: 85%;
}

.leaflet-touch .leaflet-geosearch-bar form input {
  height: 2.5em;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 1em;
  padding: 1em;
  margin: 1em auto 1em auto;
  font-size: 1.2em;
  overflow: hidden;
}

.leaflet-control-geosearch .results.active {
  padding: 0.618em 0;
  /*background-color: rgba(42, 36, 36, 0.5);*/
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  background-color: #f8f8f8;
  border-color: #c6c6c6;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  content: '';
  display: block;
  width: 0;
  position: absolute;
  left: -2px;
  bottom: -2px;
  top: 30px;
}

.leaflet-touch .leaflet-control-geosearch .results.active:after {
  border-left: 2px solid rgba(0, 0, 0, .2);
}

.leaflet-top .leaflet-geosearch-bar,
.leaflet-bottom .leaflet-geosearch-bar {
  display: none;
}

.leaflet-geosearch-bar {
  position: relative;
  display: block;
  height: auto;
  margin: 1em;
  cursor: auto;
  z-index: 1000;
}

.leaflet-geosearch-bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.leaflet-geosearch-bar form input {
  width: 100%;
  padding: 1em;
}

.leaflet-geosearch-bar .results.active:after {
  opacity: .2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-left: inherit;
  border-right: none;
}

.leaflet-control-geosearch a.reset {
  color: black;
  font-weight: bold;
  position: absolute;
  line-height: 26px;
  padding: 0 1em;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: #fff;
}

.leaflet-touch .leaflet-control-geosearch a.reset {
  line-height: 30px;
}

.leaflet-control-geosearch a.reset:hover {
  background: #f5f5f5;
}
@media (min-width: 820px) {
  .leaflet-control-geosearch.leaflet-geosearch-bar{
    width: 30%;
  }
}
.leaflet-control-geosearch.leaflet-geosearch-bar button.reset {
    position: absolute;
    right: 6px;
    top: 3px;
    width: 32.18px;
    height: 32.18px;
    border: 4px solid #fff;
    background-color: rgba(42, 36, 36, 0.5);
    border-radius: 61.8px;
    color: #fff;
    font-size: 1.2em;
}
.leaflet-control-geosearch .results > .active, .leaflet-control-geosearch .results > :hover{
    background-color: #0d9488;
    border-color: #0d9488;
    cursor: pointer;
    color:  #fff;
}
